body {
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    max-width: 40%;
    margin: 90px auto;
    padding: 120px;
    border: 1px solid #ccc;
    text-align: center;
}

h1 {
    letter-spacing: 4px;
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    color: #1f5fa5;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: 30px;
}

hr{
    margin-bottom: 60px;
    color: rgb(59, 57, 57);
}

p {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
}

.italic {
    font-style: italic;
}

ol {
    text-align: left;
    padding-left: 20px;
}

li {
    margin-bottom: 15px;
    line-height: 1.5;
}

.logo {
    margin-top: 30px;
    width: 120px;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark .container {
    background-color: #1e1e1e;
    border: 1px solid #444;
}

.dark h2 {
    color: #9ecbff;
}